@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/Autoturg/assests/img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    /* background: rgba(255, 255, 255, 0.248); */
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 64px;
    color: #fff;
    user-select: none;
    transition: 0.3s;

}

.navigation a {
    position: relative;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.3s;
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #ffffff;
    color: #162938;
}

.logo a:hover {
    color: rgb(131, 131, 131);
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .active {
    color: yellow;
}

/* .card_bg {
    height: 200px;
    background: #00000050;
} */

.card_choice {
    margin-top: 200px;
    border-radius: 10px;

    width: 300px;
    height: 950px;
    /* display: block; */
    /* background: #fff; */
    background: #00000077;
    backdrop-filter: blur(10px);
    /* filter: brightness(50%); */
}
.card_choice .all_input input {
    /* display: flex; */
    width: 100px;
    /* padding: 10px; */
    text-align: center;
    margin-left: 30px;
    border-radius: 5px;


}
.card_choice .dropdown .btn {
    margin-left: 25px;
    width: 250px;
}
.card_choice p {
    text-align: center;
    color: white;
    /* padding: 10px; */
    margin-top: 40px;
    font-size: 32px;
}

.card-car {


    padding: 30px;
    display: flex;
    /* backdrop-filter: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) blur(10px); */
    background: #0000007a ;
    color: #fff;
    border-radius: 10px;
}



.card-car h2 {
    padding: 20px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 26px;
}
.card-car H1 {
    padding: 20px;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 24px;
}
.card-car p {
    padding: 20px;

    font-size: 18px;
    color: #7b7b7b;
}
/* .card {
    background: red;
    backdrop-filter: blur(10px);
    align-items: center;
    margin-top: 200px;
} */

.card_car{
    margin-top: 200px;
    background: #00000077;
    backdrop-filter: blur(10px);
    align-items: center;
}

.card_full {
    
    /* height: 100px; */
    width: auto;
    display: flex;
}