
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.frame-8-VAx {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.frame-8-VAx .frame-1-uVa {
  box-sizing: border-box;
  padding: 2.3rem 0rem 2.8rem 11.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  box-shadow: inset 0 0 0.8rem rgba(0, 0, 0, 0.5199999809);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/photostudio/assets/x3pmnzdz03gj5ercuao3vpy8b0h2nwpz.jpeg');
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-8-VAx .frame-1-uVa .logo-MF6 {
  margin: 0rem 17.985rem 5.134rem 0rem;
  width: 22.715rem;
  height: 16.0664rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-8-VAx .frame-1-uVa .item--FLU {
  margin: 0rem 0rem 3.6rem 0.1rem;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.1725;
  text-transform: capitalize;
  color: #f8be49;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-8-VAx .frame-1-uVa .auto-group-drgy-dM2 {
  margin: 0rem 11.7rem 3.7rem 0rem;
  width: calc(100% - 11.7rem);
  height: 12.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-8-VAx .frame-1-uVa .auto-group-drgy-dM2 .rectangle-1-XSQ {
  margin-right: 5.6rem;
  width: 39.3rem;
  height: 0.3rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.frame-8-VAx .frame-1-uVa .auto-group-drgy-dM2 .auto-group-vwyt-rDn {
  width: 91.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.frame-8-VAx .frame-1-uVa .auto-group-drgy-dM2 .auto-group-vwyt-rDn .item--oPv {
  width: 54.6rem;
  height: 12.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 11rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-8-VAx .frame-1-uVa .auto-group-drgy-dM2 .auto-group-vwyt-rDn .rectangle-2-tRN {
  width: 39.3rem;
  height: 0.3rem;
  position: absolute;
  left: 52.4rem;
  top: 6.3rem;
  background-color: #d9d9d9;
}
.frame-8-VAx .frame-1-uVa .item--cMN {
  margin: 0rem 0rem 2.9rem 1.9rem;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.1725;
  text-transform: capitalize;
  color: #f8be49;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-8-VAx .frame-1-uVa .item--3xU {
  margin: 0rem 0rem 2.9rem 3.4rem;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-8-VAx .frame-1-uVa .item--yDr {
  margin: 0rem 0.2rem 5.9rem 0rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-8-VAx .frame-1-uVa .group-1-yNG {
  margin: 0rem 57.5rem 8.2rem 47rem;
  width: calc(100% - 104.5rem);
  height: 10.2rem;
  position: relative;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-8-VAx .frame-1-uVa .group-1-yNG .rectangle-3-4Pi {
  width: 42.5rem;
  height: 10.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(52, 161, 193, 0.8299999833);
  border-radius: 1rem;
}
.frame-8-VAx .frame-1-uVa .group-1-yNG .item--nac {
  width: 41.6rem;
  height: 3rem;
  position: absolute;
  left: 2.2rem;
  top: 3.7rem;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-8-VAx .frame-1-uVa .item--EhW {
  margin: 0rem 9.1rem 3.1rem 0rem;
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-8-VAx .frame-1-uVa .arrowdown-1-Xgc {
  margin-right: 12.7rem;
  width: 5.2rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-8-VAx .frame-2-AUg {
  box-sizing: border-box;
  padding: 4.8rem 12.05rem 4.8rem 8.9rem;
  width: 100%;
  height: 60.7rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #efefef;
  flex-shrink: 0;
}
.frame-8-VAx .frame-2-AUg .auto-group-rpbv-stt {
  margin: 2.7rem 9.9rem 6.9rem 0rem;
  height: calc(100% - 9.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-8-VAx .frame-2-AUg .auto-group-rpbv-stt .pngtreeconcept-vector-illustration-of-photographer5435850-1-1EQ {
  margin-bottom: 2.5rem;
  width: 37.1rem;
  height: 37.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-8-VAx .frame-2-AUg .auto-group-rpbv-stt .item--7HS {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #626262;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-8-VAx .frame-2-AUg .auto-group-57tc-Zv8 {
  margin: 0rem 6.95rem 7.3rem 0rem;
  width: 50.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-8-VAx .frame-2-AUg .auto-group-57tc-Zv8 .item--6QG {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-8-VAx .frame-2-AUg .auto-group-57tc-Zv8 .auto-group-2eil-yix {
  box-sizing: border-box;
  padding: 1.7rem 9.8rem 0rem 7.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-8-VAx .frame-2-AUg .auto-group-57tc-Zv8 .auto-group-2eil-yix .rectangle-4-usW {
  margin: 0rem 5.9rem 1.8rem 5.9rem;
  width: calc(100% - 11.8rem);
  height: 0.4rem;
  background-color: #f8be49;
  flex-shrink: 0;
}
.frame-8-VAx .frame-2-AUg .auto-group-57tc-Zv8 .auto-group-2eil-yix .pngtreecreative-flat-coffee-cup-silhouette5569828-1-Eet {
  margin-bottom: 0.9rem;
  width: 33.5rem;
  height: 33.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-8-VAx .frame-2-AUg .auto-group-57tc-Zv8 .auto-group-2eil-yix .item--LC8 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #626262;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-8-VAx .frame-2-AUg .auto-group-wlfa-DFv {
  margin: 6.9rem 0rem 6.3rem 0rem;
  width: 34.5rem;
  height: calc(100% - 13.2rem);
  position: relative;
  flex-shrink: 0;
}
.frame-8-VAx .frame-2-AUg .auto-group-wlfa-DFv .item--jzx {
  width: 34.5rem;
  height: 3.8rem;
  position: absolute;
  left: 0;
  top: 34.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #626262;
  font-family: Roboto, 'Source Sans Pro';
}
.frame-8-VAx .frame-2-AUg .auto-group-wlfa-DFv .group-2-LE4 {
  width: 27.9rem;
  height: 34.6rem;
  position: absolute;
  left: 3.25rem;
  top: 0;
}
.frame-8-VAx .frame-2-AUg .auto-group-wlfa-DFv .group-2-LE4 .rectangle-6-Ur4 {
  width: 23.9421rem;
  height: 25.3733rem;
  position: absolute;
  left: 2.0114rem;
  top: 3.0548rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-8-VAx .frame-2-AUg .auto-group-wlfa-DFv .group-2-LE4 .polaroid-7362387340-1-1LC {
  width: 27.9rem;
  height: 34.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.frame-8-VAx .frame-3-vCG {
  margin: 0rem 0.1rem 0.5rem 0rem;
  box-sizing: border-box;
  padding: 5.5rem 39.45rem 9.1rem 39.35rem;
  width: calc(100% - 0.1rem);
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3000000119);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/photostudio/assets/image.jpeg');
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-8-VAx .frame-3-vCG .item--DhA {
  margin-bottom: 12.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #319cbb;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-8-VAx .frame-3-vCG .item--t2c {
  margin-left: 0.1rem;
  max-width: 79.5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-8-VAx .frame-4-yrg {
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  padding: 8rem 44.05rem 2.2rem 43.95rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-8-VAx .frame-4-yrg .first-1-HMa {
  margin: 0rem 0rem 3.8rem 0.1rem;
  width: 34.2rem;
  height: 20.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-8-VAx .frame-4-yrg .item--o52 {
  margin-bottom: 3.7rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-8-VAx .frame-4-yrg .group-1-4Wk {
  margin: 0rem 13.45rem 0rem 14.75rem;
  width: calc(100% - 28.2rem);
  height: 10.2rem;
  position: relative;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-8-VAx .frame-4-yrg .group-1-4Wk .rectangle-3-nhe {
  width: 42.5rem;
  height: 10.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(52, 161, 193, 0.8299999833);
  border-radius: 1rem;
}
.frame-8-VAx .frame-4-yrg .group-1-4Wk .item--7E8 {
  width: 41.6rem;
  height: 3rem;
  position: absolute;
  left: 2.2rem;
  top: 3.7rem;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-8-VAx .frame-5-Uit {
  box-sizing: border-box;
  padding: 5.6rem 41.1rem 2.8rem 48.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  flex-shrink: 0;
}
.frame-8-VAx .frame-5-Uit .item--Cun {
  margin-bottom: 2.6rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #686868;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.frame-8-VAx .frame-5-Uit .item--Cun .item--Cun-sub-0 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #686868;
  font-family: Roboto, 'Source Sans Pro';
}
/* .frame-8-VAx .frame-5-Uit .item--Cun .item--Cun-sub-1 {
} */
.frame-8-VAx .frame-5-Uit .item--Cun .item--Cun-sub-2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #686868;
  font-family: Roboto, 'Source Sans Pro';
}
.frame-8-VAx .frame-5-Uit .item-372--RJg {
  margin-right: 4.8rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #686868;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
