.logo_text{
    color:lightgreen;
    text-align: center;
}

.first{
    color: lightgreen;
    text-align: center;
    margin-top: 100px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.first a{
    display: inline-block;
	margin-left: 1px;
	padding: 28px 1.5em 0em 1.5em;
	letter-spacing: 0.10em;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	outline: 0;
	color: lightgreen;
    text-decoration: underline;
}

.background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h3,a {
	margin-left: 1px;
	padding: 28px 1.5em 0em 1.5em;
	letter-spacing: 0.10em;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	outline: 0;
	color: lightgreen;
	text-align: left;
}
h1{
	margin-left: 1px;
	padding: 0px 0em 0em 0em;
	letter-spacing: 0.10em;
	text-decoration: none;
	font-size: 3em;
	text-transform: uppercase;
	outline: 0;
	color: green;
	text-align: center;
    
}

p{
	margin-left: 1px;
	padding: 28px 1.5em 0em 1.5em;
	letter-spacing: 0.10em;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	outline: 0;
	color: lightgreen;
	text-align: center;
    
}

.card {
	/* float:inline-start; */
	float:left;
	/* background: rgb(97, 135, 31); */
	box-shadow: 5px 8px 5px 8px  rgb(0, 0, 0);
	width: 250px;
	height: 200px;
	margin: 15px;
	text-align: center;
	font-family: arial;
	padding: 50px;
}
  
  .card button {
	border: 12px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.476);
	outline: 0;
	padding: 12px;
	color: rgb(180, 225, 108);
	background-color: #00000087;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
  }
  
  .card button:hover {
	opacity: 0.7;
  }
  
 

