* {
    margin: auto;
    height: auto;
    padding: auto;
}

body {
    height: auto;
    background: #272727;
}

.title {
    margin-top: 40px;
    padding: 150px auto;
    /* align-items: center; */
    /* display: flex; */
    flex-direction: column;
    /* flex-shrink: 0; */
    margin: 0rem 0rem 5.5rem 2.9rem;
}

.title H1 {
    text-align: center;
    color: white;
    flex-shrink: 0;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.1725;
    margin-left: 1.3rem;
    text-decoration-line: underline;
    text-transform: uppercase;

}

.title p {
    color: white;
    text-align: center;
    flex-shrink: 0;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.1725;
}

.logo_img {
    margin: 20px;
    text-align: center;
    margin: auto;
}

.text {
    margin: 50px;
    color: white;
    text-align: center;
}

.button1 {
    width: 250px;
    display: block;


    margin-top: 20px;
    margin-bottom: 50px;

}

.button2 {
    width: 250px;
    display: block;


    margin-top: 20px;
    margin-bottom: 50px;


}